In [1]:
import logging

from Loader import fileloader_proto as fl
from Loader import datahandledatabase as dhdb
from Loader import datacompute as dc
from Loader import datapreparation as dp
from Loader import dfutils as utils
import pandas as pd
import numpy as np
import posixpath
from datetime import datetime
import time
import xlwings as xw
import copy

logger = logging.getLogger("")
logger.setLevel(logging.INFO)

DEBUG:    CoInitializeEx(None, 2)
DEBUG:    CACHEDIR=C:\Users\Johnny\Documents\LocalSoftware\cygwin\home\jsaenza\.matplotlib
DEBUG:    Using fontManager instance from C:\Users\Johnny\Documents\LocalSoftware\cygwin\home\jsaenza\.matplotlib\fontList.json

Proceso:

**Ingresos Nuevos**
----------
Ejecutar el siguiente codigo como requisito para las siguientes secciones de Ingresos Nuevos

In [2]:
month="201905"
inifile = fl.ReadIniFile(mercado="empresas")
parser = inifile.getIniFileParser()

# Configurando los archivos de configuración para administrar la base de datos
dbparser = inifile.getDbIniFileParser()
dbmanager = dhdb.DbDataProcess(month)
dbmanager.setParser(dbparser)

# File :  _RRHH Ingresos
section_ingresos = fl.SectionObj(inifile,"Ingresos")
# Guardamos el nombre de nuestro archivo de nuevos ingresos
comis_ingresos_archivo_nombre = section_ingresos.getParameter('filelist')[0]
# Obtenemos las columnas que deberia tener el reporte de ingresos nuevos.
cols_required = section_ingresos.getParameter('cols')

loader1 = fl.LoadFileProcess(section_ingresos)
ingresos = loader1.loadFile()

INFO:    Values loaded from globals.ini:
INFO:     * mainpath C:/Users/jsaenza/OneDrive - Entel Peru S.A
INFO:     * scriptspath C:/Users/jsaenza/Documents/Comisiones/Comisiones-python
INFO:     * databasepath C:/Users/jsaenza/OneDrive - Entel Peru S.A/SQLiteDB
INFO:    datapath value is C:/Users/jsaenza/OneDrive - Entel Peru S.A/MercadoEmpresas/Data Fuente Comisiones/xlsx
INFO:    testpath value is C:/Users/jsaenza/OneDrive - Entel Peru S.A/MercadoEmpresas/Data Fuente Comisiones/test
INFO:    Setting database path to C:/Users/jsaenza/OneDrive - Entel Peru S.A/SQLiteDB/mercado_empresas_db.sqlite

El tamaño de Ingresos es 55 registros

In [5]:
ingresos

,DNI,NOMBRES,APELLIDO_PATERNO,POSICION_EMPL,FECHA_INGRESO,ADD_TO_DB,UPDATE_CODIGO_INAR
0,45381023,PEDRO,CRUZ ROMERO,EJECUTIVO INSIDE SALES,2019-05-16,SI,NO
1,42794664,OSCAR MANUEL,DE-LA-CRUZ MEDINA,EJECUTIVO INSIDE SALES,2019-05-16,SI,NO
2,45478650,MANUEL ALEXANDER,FIGUEROA RIMACHE,EJECUTIVO INSIDE SALES,2019-05-16,SI,NO
3,41242865,DIANA PATRICIA,GUTIERREZ VELASQUEZ,EJECUTIVO INSIDE SALES,2019-05-16,SI,NO
4,70909667,FELIX JHONATAN,PASACHE INGA,EJECUTIVO INSIDE SALES,2019-05-16,SI,NO
5,41317674,ANTONIO FELIPE,QUISPE ARIAS,EJECUTIVO INSIDE SALES,2019-05-16,SI,NO
6,43598156,GONZALO AUGUSTO,VALDIVIA MOROTE,CONSULTOR DE SERVICIO VALOR AGREGADO,2019-05-16,SI,NO
7,41047290,FERNANDO,MEDINA VARGAS,CONSULTOR VENTAS DIRECTAS,2019-06-01,SI,NO
8,46386100,KARELLE ALEXANDRA,CAYO MITRE,CONSULTOR VENTAS DIRECTAS,2019-06-01,SI,NO
9,43427430,PABLO MANUEL,AGUILAR RIVERA,CONSULTOR VENTAS DIRECTAS,2019-06-01,SI,NO
10,43533683,ERNESTO MARTIN,CANCINO CALDAS,EJECUTIVO INSIDE SALES,2019-06-01,SI,NO
11,42904852,AQUILINO MANUEL,RIVADENERYA ALVARADO,EJECUTIVO INSIDE SALES,2019-06-01,SI,NO
12,113812363,JOSE ALEJANDRO,PEREZ MARTINEZ,EJECUTIVO INSIDE SALES,2019-06-01,SI,NO
13,44592228,CLAUDIA MELISSA,CASTILLO HUAMANI,EJECUTIVO INSIDE SALES,2019-06-01,SI,NO
14,45141009,ALEJANDRO SERGIO,BARONA BARRAGAN,EJECUTIVO INSIDE SALES,2019-06-01,SI,NO
15,46276462,RANDOLPH CHESTER,BALDEON CASTILLO,EJECUTIVO INSIDE SALES,2019-06-01,SI,NO
16,46399833,JOSE GIANCARLO,GUERRA ZAMBRANO,EJECUTIVO INSIDE SALES,2019-06-01,SI,NO
17,45018590,JORGE ALONSO,ALARCÓN KANEMATSU,EJECUTIVO INSIDE SALES,2019-06-01,SI,NO
18,43029174,LUIS HAROLT,DE LA CRUZ AVALOS,EJECUTIVO INSIDE SALES,2019-06-01,SI,NO
19,42642033,LIZ GRISEL,PUERTAS GUZMAN,EJECUTIVO DE DESARROLLO PYME,2019-06-15,SI,NO
20,70349174,JOSE FELIX,HIDALGO TORRES,EJECUTIVO DE DESARROLLO PYME,2019-06-01,SI,NO
21,45538156,LUCIA ALEJANDRA,ESCALANTE DELGADO,EJECUTIVO DE DESARROLLO PYME REGIONES,2019-06-01,SI,NO
22,44374404,ANA BELÉN,ZAPATA INGA,EJECUTIVO DE DESAROLLO PYME REGIONES,2019-06-01,SI,NO
23,45592012,LOURDES ANDREA,ALVAREZ HERRERA,EJECUTIVO DE DESAROLLO PYME REGIONES,2019-06-01,SI,NO
24,43665221,CAMILA,SOTO RUBIO,CONSULTOR DE SERVICIO VALOR AGREGADO,2019-06-01,SI,NO
25,74472945,BRUNO ROBERTO,ANGELATS ZAPATA,CONSULTOR DE SERVICIO VALOR AGREGADO,2019-06-01,SI,NO
26,42642033,LIZ GRISEL,PUERTAS GUZMAN,EJECUTIVO DE DESARROLLO PYME,2019-06-16,SI,NO
27,46721693,DIANA CAROLINA,VARGAS ZAVALETA,ASESOR DE SERVICIOS EMPRESAS PLUS,2019-06-16,SI,NO
28,43313231,GRACE JOANA MADHELEYNE,LOPEZ ESCATE,ASESOR DE SERVICIOS EMPRESAS PLUS,2019-06-16,SI,NO
29,72630216,SHANEN MARIFER,LEON CABALLERO,ASESOR DE SERVICIOS EMPRESAS PLUS,2019-06-16,SI,NO
30,70442431,JUAN STIEBER,TORRES ROBLES,ASESOR DE SERVICIOS EMPRESAS PLUS,2019-06-16,SI,NO
31,45636664,JAKELINE JHOANA,NICOLAS JULCA,ASESOR DE SERVICIOS EMPRESAS PLUS,2019-06-16,SI,NO
32,46583568,ANA LUCIA,AÑORGA GONZALEZ,ASESOR DE SERVICIOS EMPRESAS PLUS,2019-06-16,SI,NO
33,41319086,ENRIQUE,SERPA BUSTAMANTE,INGENIERO DE SOLUCIONES DE NEGOCIO,2019-06-16,SI,NO
34,43813866,SINDY GREY,GAVIRIA MEGO,CONSULTOR DE NEGOCIOS REGIONES,2019-06-16,SI,NO
35,72854093,LUIS ARTURO,CASTILLO GUTIERREZ,ASESOR DE SERVICIOS EMPRESAS PLUS,2019-06-16,SI,NO
36,45516925,EDUARDO,CORNEJO AGUILAR,CONSULTOR VENTAS DIRECTAS,2019-06-16,SI,NO
37,47376979,MIGUEL ANGEL,POLO LOPEZ,CONSULTOR VENTAS DIRECTAS,2019-06-16,SI,NO
38,43671491,ALEJANDRO,AMAYO BISSO,EJECUTIVO DE DESARROLLO PYME,2019-06-16,SI,NO
39,42616302,YNGRID FIORELLA,VASQUEZ TORRES,CONSULTOR DE NEGOCIOS REGIONES,2019-06-16,SI,NO
40,40132102,WILFREDO ENRIQUE,SALCEDO CAPUÑAY,COORDINADOR DE GESTIÓN DE TELEVENTA,2019-06-16,SI,NO
41,71204051,STEFANY KATIUSKA,ALBITRES ARIRAMA,CONSULTOR VENTAS DIRECTAS,2019-06-16,SI,NO
42,47039857,MURIEL,SANCHEZ MARINOPULOS,EJECUTIVO DE DESARROLLO PYME,2019-06-16,SI,NO
43,42866558,REYNA JOSEFINA,CABANILLAS JIMENEZ,COORDINADOR DE GESTIÓN DE TELEVENTA,2019-06-16,SI,NO
44,10222200,MIGUEL,GOMEZ-VALERA VITA,EJECUTIVO DE CORPORACIONES,2019-06-16,SI,NO
45,40886573,EVELYN,TONG AREVALO,EJECUTIVO DE CORPORACIONES,2019-06-16,SI,NO
46,45300646,JULIET FRANCESCA,ASENCIO BARBOZA,EJECUTIVO INSIDE SALES,2019-05-01,SI,NO
47,44335589,ANTONY JONATTAN,CHAVEZ PORROA,EJECUTIVO INSIDE SALES,2019-05-01,SI,NO
48,46321378,KAROL JOSEP,VARGAS AZORSA,EJECUTIVO INSIDE SALES,2019-05-01,SI,NO

***<span style="color:red">Copiar</span>*** Ingresos Nuevos del Archivo de Atracción
-----

Copia los ingresos nuevos desde el archivo enviado por atracción hacia el archivo de Ingresos Nuevos de comisiones.

**Requisitos**: 
- Haber filtrado las personas de interes en el archivo que envia attracion
- Asegurarse la hoja se llame BASE en el archivo de ingresos nuevos de comisiones
- Asegurarse que los nombres de columnas del archivo de atraccion no hayan cambiado

**Pasos**:
- En el archivo de atracción filtrar solo las personas que comisionan, eliminar las demás
- Ejecutar script
- Convertir la columna DNI a formato Texto
- Jalar las fórmulas
- Proseguir con la subida a la base de datos de los nuevos ingresos

In [5]:
#Obtenemos la lista de los nombres de los libros de Excel abiertos.
wb_names = utils.getOpenedWorkbooksNames()
#Seleccionamos el archivo que contenga "REPORTEREMUNERACIONES"
keyname = "REPORTEREMUNERACIONES"
atraccion_ingresos_filename = [s for s in wb_names if keyname in s][0]
#Nos conectamos al archivo y hoja de calculo enviado por atraccion
wb_ingresos = xw.Book(atraccion_ingresos_filename)
sht = wb_ingresos.sheets[0]
#Nos posicionamos en la celda A1 extendemos hacia la esquina opuesta retornando el contenido como dataframe
df = sht.range('A1').options(pd.DataFrame,
                         index=False, expand='table').value
#Filtramos las columnas que debe tener el archivo de atraccion.
cols_required = cols_required[:-3] + ['Variable', 'VP', 'CC', 'Jefe DIrecto']
#Obtenemos el dataframe a ser pegado en nuestro archivo de comisiones.
df_final = df[cols_required]

#Nos conectamos a nuestro archivo de Ingresos
wb_comis_ingresos = xw.Book(comis_ingresos_archivo_nombre)
sheet_comis_ingresos = wb_comis_ingresos.sheets('BASE')
#Obtener el nro. de fila del último registro
lastrow = sheet_comis_ingresos.api.Cells(65536, 1).End(xw.constants.Direction.xlUp).Row
#Pegamos el dataframe
sheet_comis_ingresos.range((lastrow+1, 1)).options(header=False, index=False).value = df_final

Insertar ***<span style="color:red">Nuevos</span>*** Ingresos en la BD
-----

Inserta los registros mracados con ADD_TO_DB = "SI" del dataframe de Ingresos de comisiones a la base de datos

In [3]:
# Separamos los que se van a agregar a la base de datos y los que unicamente se va actualizar su CODIGO_INAR
ingresos_add = ingresos[ingresos.ADD_TO_DB == "SI"]
ingresos_add.drop('ADD_TO_DB', axis=1, inplace=True)
ingresos_add.drop('UPDATE_CODIGO_INAR', axis=1, inplace=True)
ingresos_add

C:\Users\jsaenza\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,DNI,NOMBRES,APELLIDO_PATERNO,POSICION_EMPL,FECHA_INGRESO,CODIGO_INAR
46,40130281,WALTER MORENO BARDALEZ,NaN,CONSULTOR VENTAS DIRECTAS,2019-04-01,WMORENO
47,45816114,LOURDES DEL PILAR CASTILLO VIZCARRA,NaN,EJECUTIVO DE DESARROLLO PYME,2019-04-01,LCASTILLO2
48,74051964,JEAN PIERRE FLORES BARQUINERO,NaN,EJECUTIVO DE DESARROLLO PYME,2019-04-01,JFLORES5
49,42272129,TORRES ACOSTA CLAUDIA STEFANNY,NaN,CONSULTOR VENTAS DIRECTAS,2019-05-01,CTORRESA
50,44992156,CUBA SANTILLAN DANIEL ANTHONY,NaN,CONSULTOR VENTAS DIRECTAS,2019-05-01,DCUBAS
51,46329228,MIRANO CASAVERDE JOAO ANDRE,NaN,CONSULTOR VENTAS DIRECTAS,2019-05-01,JMIRANOC
52,42612125,COLONNA MURGUEYTIO LUIGGI,NaN,CONSULTOR VENTAS DIRECTAS,2019-05-01,LCOLONNAM
53,43171277,WILDER JONATHAN ESTRADA BRACAMONTE,NaN,CONSULTOR VENTAS DIRECTAS,2019-05-16,WESTRADA
54,45245755,KEYLLA BENDEZU CAMPOS,NaN,CONSULTOR VENTAS DIRECTAS,2019-03-01,KBENDEZU

**Ejecutar lo siguiente para modificar la BD**

In [4]:
dbmanager.dbOperation('insert','tblEmpleados',ingresos_add)

Los registros de la tabla tblEmpleados es 9 registros insertados

Actualizar ***<span style="color:red">Codigo Inar</span>*** Ingresos en la BD
----

Actualiza los registros marcados con UPDATE_CORDIGO_INAR = "SI" del dataframe de ingresos a la Base de Datos.

In [34]:
ingresos_update = ingresos[ingresos.UPDATE_CODIGO_INAR == "SI"]
ingresos_update.drop('ADD_TO_DB', axis=1, inplace=True)
ingresos_update.drop('UPDATE_CODIGO_INAR', axis=1, inplace=True)
ingresos_update

,DNI,NOMBRES,APELLIDO_PATERNO,POSICION_EMPL,FECHA_INGRESO,CODIGO_INAR
0,45381023,PEDRO,CRUZ ROMERO,EJECUTIVO INSIDE SALES,2019-05-16,0.0
1,42794664,OSCAR MANUEL,DE-LA-CRUZ MEDINA,EJECUTIVO INSIDE SALES,2019-05-16,NaN
2,45478650,MANUEL ALEXANDER,FIGUEROA RIMACHE,EJECUTIVO INSIDE SALES,2019-05-16,NaN
3,41242865,DIANA PATRICIA,GUTIERREZ VELASQUEZ,EJECUTIVO INSIDE SALES,2019-05-16,NaN
4,70909667,FELIX JHONATAN,PASACHE INGA,EJECUTIVO INSIDE SALES,2019-05-16,NaN
5,41317674,ANTONIO FELIPE,QUISPE ARIAS,EJECUTIVO INSIDE SALES,2019-05-16,NaN
6,43323015,ROSSEMARY,QUISPE REYES,EJECUTIVO INSIDE SALES,2019-05-16,NaN
7,43598156,GONZALO AUGUSTO,VALDIVIA MOROTE,CONSULTOR DE SERVICIO VALOR AGREGADO,2019-05-16,NaN
8,42969746,PAREDES SAENZ,VICTOR LUIS,EJECUTIVO DE ADMINISTRACIÓN PÚBLICA DE CORPORA...,2019-04-01,NaN
9,41179299,DIAZ AMAYO,FERNANDO ALONSO,CONSULTOR DE NEGOCIOS REGIONES,2019-05-01,NaN
10,41047290,FERNANDO,MEDINA VARGAS,CONSULTOR VENTAS DIRECTAS,2019-06-01,NaN
11,46386100,KARELLE ALEXANDRA,CAYO MITRE,CONSULTOR VENTAS DIRECTAS,2019-06-01,NaN
12,43427430,PABLO MANUEL,AGUILAR RIVERA,CONSULTOR VENTAS DIRECTAS,2019-06-01,NaN
13,43533683,ERNESTO MARTIN,CANCINO CALDAS,EJECUTIVO INSIDE SALES,2019-06-01,NaN
14,42904852,AQUILINO MANUEL,RIVADENERYA ALVARADO,EJECUTIVO INSIDE SALES,2019-06-01,NaN
15,113812363,JOSE ALEJANDRO,PEREZ MARTINEZ,EJECUTIVO INSIDE SALES,2019-06-01,NaN
16,44592228,CLAUDIA MELISSA,CASTILLO HUAMANI,EJECUTIVO INSIDE SALES,2019-06-01,NaN
17,45141009,ALEJANDRO SERGIO,BARONA BARRAGAN,EJECUTIVO INSIDE SALES,2019-06-01,NaN
18,46276462,RANDOLPH CHESTER,BALDEON CASTILLO,EJECUTIVO INSIDE SALES,2019-06-01,NaN
19,46399833,JOSE GIANCARLO,GUERRA ZAMBRANO,EJECUTIVO INSIDE SALES,2019-06-01,NaN
20,45018590,JORGE ALONSO,ALARCÓN KANEMATSU,EJECUTIVO INSIDE SALES,2019-06-01,NaN
21,43029174,LUIS HAROLT,DE LA CRUZ AVALOS,EJECUTIVO INSIDE SALES,2019-06-01,NaN
22,42642033,LIZ GRISEL,PUERTAS GUZMAN,EJECUTIVO DE DESARROLLO PYME,2019-06-01,NaN
23,70349174,JOSE FELIX,HIDALGO TORRES,EJECUTIVO DE DESARROLLO PYME,2019-06-01,NaN
24,45538156,LUCIA ALEJANDRA,ESCALANTE DELGADO,EJECUTIVO DE DESARROLLO PYME REGIONES,2019-06-01,NaN
25,44374404,ANA BELÉN,ZAPATA INGA,EJECUTIVO DE DESAROLLO PYME REGIONES,2019-06-01,NaN
26,45592012,LOURDES ANDREA,ALVAREZ HERRERA,EJECUTIVO DE DESAROLLO PYME REGIONES,2019-06-01,NaN
27,43665221,CAMILA,SOTO RUBIO,CONSULTOR DE SERVICIO VALOR AGREGADO,2019-06-01,NaN
28,74472945,BRUNO ROBERTO,ANGELATS ZAPATA,CONSULTOR DE SERVICIO VALOR AGREGADO,2019-06-01,NaN
29,43993450,ADRIAN,CORDOVA CHUQUI,CONSULTOR VENTAS DIRECTAS,2019-06-01,NaN
30,42634191,BILLY DIANA,HORNA DELGADO,CONSULTOR VENTAS DIRECTAS,2019-06-01,NaN

**Ejecutar lo siguiente para modificar la BD**

In [35]:
dbmanager.dbOperation('update','UpdateEmpleadoCodigoInar',ingresos_update)

Los registros de la tabla UpdateEmpleadoCodigoInar es 31 registros actualizados

Actualizar ***<span style="color:red">Puestos</span>*** Ingresos en la BD
-----

Actualiza los puestos por DNI ingresados en el archivo de Ingresos de comisiones pestaña "UpdatePuestos" hacia la Base de Datos.

In [16]:
section_ingresos_actualizar = fl.SectionObj(inifile,"Empleados_Update_Puestos")
loader2 = fl.LoadFileProcess(section_ingresos_actualizar)
ingresos_camb_puesto = loader2.loadFile()
ingresos_camb_puesto

El tamaño de Empleados_Update_Puestos es 3 registros

        DNI                  POSICION_EMPL
0  45300646  EJECUTIVO SENIOR INSIDE SALES
1  44335589  EJECUTIVO SENIOR INSIDE SALES
2  46321378  EJECUTIVO SENIOR INSIDE SALES

**Ejecutar lo siguiente para modificar la BD**

In [17]:
dbmanager.dbOperation('update','UpdateEmpleadoCodigoInar',ingresos_camb_puesto)

KeyError: "['CODIGO_INAR'] not in index"